.bgimg{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../img/bg3.jpg');
	background-attachment: fixed;
	width: 100%;
  height: 100vh;}
  
#log{
	
    box-shadow: -6px 2px 61px 21px rgba(0,0,0,0.75);
	padding: 59px 40px;
	margin-bottom: 37px;}


h1{margin-top: -20px;}
.admin-login-btm{
	box-shadow: inset 20px 58px 20px 20px rgba(0,0,0,0.75), -1px 0px 20px 0px rgb(110, 120, 121);
	   border-radius: 27px;
	   border: 1px solid;
	   background-color: #05c7f3;
	}
