/**************************Login page************************************/
.bgimg{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../img/bg3.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 100%;
  	height: 100%;}

#log{

    box-shadow: -6px 2px 61px 21px rgba(0,0,0,0.75);
	padding: 59px 40px;
	margin-bottom: 37px;}


h1{margin-top: -20px;}

.admin-login-btm{
	box-shadow: inset 20px 58px 20px 20px rgba(0,0,0,0.75), -1px 0px 20px 0px rgb(110, 120, 121);
    border-radius: 27px;
    border: 1px solid;
    background-color: #05c7f3;
	}

	/************************Admin Dashboard******************/

	#sidebar {
		min-width: 250px;
		max-width: 250px;
		background: #33b5e5;
		color: #fff;
		transition: all 0.3s;
		height: 650px;
	}
	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: block;
	}
	#content {
		width: 100%;
		padding: 0px;
		min-height: 100vh;
		transition: all 0.3s;
	}
	.footer{
		background-color: #000000;
	}

	.dropdown-menu{
		min-width: 120px;
	}

	@media (max-width: 768px) {
		#sidebar {
			margin-left: -250px;
		}
		#sidebar.active {
			margin-left: 0;
		}
		#sidebarCollapse span {
			display: none;
		}
	}

	/**************************************************************/
