<header>
    <!-- Sidebar toggle button-->
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark info-color darken-1 scrolling-navbar">
        <div class="container-fluid">
            <a class="navbar-brand waves-effect waves-block waves-light chat-collapse text-center " href="" id="sidebarCollapse">
                <i class="fa fa-th-list ml-auto" style=" color: white"></i>
            </a>
            <!-- Brand -->
            <a class="navbar-brand waves-effect" target="_blank">
                <strong class="white-text font-weight-bold">Fancymonk</strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler"></button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                </ul>
                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons ml-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Profile </a>
                        <div class="dropdown-menu  dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink-4">
                            <a ng-click="boolFunction('profileCompanyBool')" class="dropdown-item waves-effect waves-light"
                                href="">My Profile</a>
                            <a class="dropdown-item waves-effect waves-light" href="">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--================================ Navbar End=====================-->
</header>

<nav id="sidebar" class="z-depth-1-half position-fixed h-100 mt-4">
    <ul class="list-unstyled components mt-5">
        <li class="p-2 mb-2" ng-class="{active:activeMenu === 'empFeedback'}" ng-click="activeMenu ='empFeedback'">
            <a ng-click="boolFunction('empFeedbackBool')" class="d-block text-dark text-decoration-none" href=""><i
                    class="fas fa-user-slash fa-fw "></i>
                <span class="font-weight-normal button">Employee Feedback</span><span class="badge badge-pill badge-warning ml-2"></span></a>
        </li>
    </ul>

</nav>
<div class="wrapper">
    <!--========================Page Content =================================-->
    <div id="content" class="mt-5">
        <div ng-if="empFeedbackBool">
            <div class="mt-4 mx-md-4">
                <nav a-label="breadcrumb">
                    <ol class="breadcrumb blue-grey lighten-4">
                        <li class="breadcrumb-item "><a class="text-decoration-none" href="#!/dashboard">Home</a></li>
                        <li class="breadcrumb-item "><a class="text-decoration-none" href="" ng-click="boolFunction('empFeedbackBool')">Employee
                                Feedback</a></li>
                    </ol>
                </nav>
            </div>

            <div class="container table-responsive text-nowrap">
                <div class="navbar navbar-light  mdb-color">
                    <form class="form-inline my-2 my-lg-0 ml-auto">
                        <input ng-model='searchText' class="form-control" type="search" placeholder="Search" aria-label="Search"
                            ng-model="search">
                    </form>

                </div>
                <table class="table table-hover table-bordered mb-0 z-depth-1" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table-info">
                            <th class="th-sm">Name</th>
                            <th class="th-sm">Overall Rating</th>
                            <th class="th-sm">Presentation Rating</th>
                            <th class="th-sm">Quality Rating</th>
                            <th class="th-sm">Taste Rating</th>
                            <th class="th-sm">Contact</th>
                            <th class="th-sm">Comment</th>
                            <th class="th-sm">Date & Time</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat='person in people | filter:searchText'>
                        <td>{{person.name}}</td>
                        <td>9</td>
                        <td>9</td>
                        <td>51</td>
                        <td>9</td>
                        <td>{{person.contact}}</td>
                        <td><i class="far fa-comment-dots fa-md mx-3"><span class="badge badge-danger" data-toggle="tooltip"
                                    data-placement="top" title="best food data-placement attribute specifies the tooltip position">1</span></i></td>
                        <td>{{person.date}}</td>
                        </tr>
                        <tr>
                            <td>{{person.name}}</td>
                            <td>Javascript Developer</td>
                            <td>Singapore</td>
                            <td>29</td>
                            <td>2011/06/27</td>
                            <td>{{person.contact}}</td>
                            <td>2011/06/27</td>
                            <td>{{person.date}}</td>
                        </tr>
                        <tr>
                            <td>{{person.name}}</td>
                            <td>Customer Support</td>
                            <td>New York</td>
                            <td>27</td>
                            <td>2011/01/25</td>
                            <td>{{person.contact}}</td>
                            <td>2011/01/25</td>
                            <td>{{person.date}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Overall Rating</th>
                            <th>Presentation Rating</th>
                            <th>Quality Rating</th>
                            <th>Taste Rating</th>
                            <th>Contact</th>
                            <th>Comment</th>
                            <th>Date & Time</th>
                        </tr>
                    </tfoot>
                </table>
                <ul class="pagination mt-3 justify-content-end">
                    <li class="page-item"><a class="page-link" href="">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="">1</a></li>
                    <li class="page-item active"><a class="page-link" href="">2</a></li>
                    <li class="page-item"><a class="page-link" href="">3</a></li>
                    <li class="page-item"><a class="page-link" href="">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>