.login-part1 {
    /* background: #001f3f; */
    background-color: #001333 !important;
    height: 80%;
}

.text-center {
    color: wheat;
}

.Forget {
    color: wheat;
}

.food-logo {
    width: 100%;
    height: 100%;
}

.www {
    color: wheat;
    top: 200px;
}

.login-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    background: rgba(130, 130, 130, .3);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255, 255, 255, .4);
    border-left-color: rgba(255, 255, 255, .4);
    border-bottom-color: rgba(60, 60, 60, .4);
    border-right-color: rgba(60, 60, 60, .4);
}

.login-form .input-part,
.login-form .submit-button {
    width: 212px;
    border: 1px solid;
    border-bottom-color: rgba(255, 255, 255, .5);
    border-right-color: rgba(60, 60, 60, .35);
    border-top-color: rgba(60, 60, 60, .35);
    border-left-color: rgba(80, 80, 80, .45);
    background-color: rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    padding: 8px 24px 8px 10px;
    font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 19px;
}

.login-form .input-part:focus {
    background-color: rgba(0, 0, 0, .4);
}

.login-form .input-part .email {
    background-color: rgba(130, 130, 130, .3);
    background-position: 220px 10px;
}

.login-form .input-part .pass {
    background-color: rgba(130, 130, 130, .3);
    background-position: 223px 8px
}

::-webkit-input-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

::-moz-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    color: #ccc;
    text-transform: uppercase;
}

.login-form .submit-button[type=submit] {
    width: 248px;
    margin-bottom: 0;
    color: #3f898a;
    letter-spacing: .05em;
    text-shadow: 0 1px 0 #133d3e;
    text-transform: uppercase;
    background: #225556;
    border-top-color: #9fb5b5;
    border-left-color: #608586;
    border-bottom-color: #1b4849;
    border-right-color: #1e4d4e;
    cursor: pointer;
}

.header-part1 {
    width: 100%;
    height: 68px;
    background-color: cornflowerblue;
    margin-top: 46px;
}