
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: auto;
    z-index: 1;
    background-size: cover;
    background-position: center center;}
.sidebar .sidebar-wrapper {
    position: relative;
    overflow: auto;
    width: 260px;
    z-index: 4;}

.sidebar .nav {
    margin-top: 20px;
    float: none;}

.sidebar .nav li:hover > a {
    
    color:#33b5e5;}
.fa-building .fa-check-square:hover {
  color: #33b5e5;}


.sidebar .nav .open > a,
.sidebar .nav li.dropdown .dropdown-menu li:hover,
.sidebar .nav li:hover {
    background-color:#eceff1;
    color:#fff;
   }

.sidebar .nav li > a {
    color: #000000;
    margin: 5px 20px;
    opacity: .86;
    border-radius: 8px;
    display: block;
    padding: 6px;}

.card{
 width: 260px;
    height: 320px;
    margin-left: 50px;}
#card_design{

     margin-left: 30px;
     width: 290px;
    height: 320px;}


.card-img-top{
    width: 250px;
    margin: auto;}

#margin{margin-left: 260px;}

.md-form{margin-top: 58px;}
#li-wdth{width: 260px;}
#map-height{height: 450px;width: 200px;}
.img-height{height: 150px}
#adjust{width: 300px; margin-left: 70px;}

/************main panel************/
.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
}


/***************media query for responsive in mobile view************************/
@media (max-width: 768px) {

    #navbar_collapse{
        margin-left: -250px;
        box-shadow: none;
    }
    .sidebar{
        box-shadow: none;
    }
    .sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #margin{
        margin-left: 0px;
       }
.main-panel{
        margin-left: -19px;
        float: none;
        width: 100%;}
    }
}


