.card{
 width: 260px;
    height: 320px;
    margin-right: 50px; }

.card-img-top{
    width: 250px;
    margin: auto;}
#font-size{ font-size: 0.8rem;}
#head-height{height: 44px;}
#search-height{height: 28px;}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch; }
#sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    display: none;}
#sidebar.visible {
    display: block;}
#sidebar ul li {
    padding: 10px 08px;
     position: relative;}
#sidebar ul li a {
    color: black;
    display: block;
    text-decoration: none;}
#sidebar ul li i {
    color: #0497df;
    min-width: 20px;
    text-align: center;}
#sidebar ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;}
#sidebar ul li:hover > a {color:#0099CC;}
#sidebar ul .open > a,
#sidebar ul li.dropdown .dropdown-menu li:hover,
#sidebar ul li:hover {background-color:#e3f2fd;color:#fff;}
.main-content {
    padding: 40px;
    margin-top: 5px;
    padding: 0;
    padding-top: 44px;
    height: 100%;
   width: 1000%;
    margin-left: -30px;}



/*----------page responsive-------------------------*/


@media screen and (min-width: 500px) {
     #sidebar { display: block; width: 70px; z-index: 2;}
    #sidebar ul li span:nth-child(2) { display: none;}
     #sidebar ul li i { font-size: 56px;}
    #sidebar ul li a { text-align: center;}
    .main-content{margin-left: 40px;}}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
    #sidebar { width: 220px; margin-top: 50px;}
    #sidebar ul li span:nth-child(2) { display: inline-block;}
    #sidebar ul li i  { font-size: 16px;}
    #sidebar ul li a { text-align: left;}
    .main-content{margin-left: 200px;}}

