.bg-card{
    background-color: #f1f8f9;
    border-radius: 10px;
    border: 1px solid #82e2d5;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    transition: all 0.3s;
    height: 620px;
    margin-top: 29px;
    position: fixed;
   box-shadow: 6px 7px 10px -4px rgba(2,0,3,1);}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a:link, a:visited {
    background-color: #fff;
    color: #212121;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;

  }
  
  a:hover, a:active {
    background-color:#eceff1 ;
    color: #039be5;
  }
  
#content {
    width: 250px;
    padding: 0px;
    transition: all 0.3s;
}
.dropdown-menu{
    min-width: 120px;
}
#navbar_top_height{
    height: 45px;
}

/*card css***********/
.container{
    margin-left: 280px;
    
    
}
.card{
    width: 280px;
    height: 320px;
}

.card-img-top{
    width: 220px;
    margin: auto;
}
