<md-toolbar class="">
<div class="header">
  <div class="container">
    <div class="row">
    <div class="col-sm-11 ">
        <img class="logo-image" src="../../image/fancymonklogo.png"/><p> Fancymonk </p>
    </div>
    <div class="col-sm-1">
        <md-button class="menu-button pull-right">
          <md-icon md-svg-icon="../../image/menu.svg"  ></md-icon>
        </md-button>
    </div>
  </div>
</div>

</div>
</md-toolbar>
<div  layout="column" height="200px" ng-cloak>

  <section layout="row" flex>
    <div>

    <md-sidenav class="md-sidenav-left sidenav"  md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <div class="background-dp">
          <div class="background-dp-color ">
           <img class ="image" src="../../image/pp1.png"/>
               <h6>Fancymonk</p></h6><br><br><br><br>
              <div class="vertical-menu">
                  <a class="md-toolbar-tool"><i class="fa fa-sitemap" style="font-size:24px"></i>
                    <span class="part">Category</span></a></br>
                  <a class="md-toolbar-tool"><i class="fa fa-reorder " style="font-size:24px"></i>
                    <span class="part">Requirements</span></a></br>
                  <a class="md-toolbar-tool"><i class="fa fa-street-view" style="font-size:24px"></i>
                    <span class="part">Employees Feedback</span></a></br>
              </div>
          </div>
      </div>

    </md-sidenav>
  </div>
     <div class="list-data" ng-if="false">
       <ul>
       <li class="list-data-item"><md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">breakfast</md-checkbox></li>
       <li class="list-data-item"><md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">Lunch</md-checkbox></li>
       <li class="list-data-item"><md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">snacks</md-checkbox></li>
       <li class="list-data-item"><md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">Dinner</md-checkbox></li>
       <li class="list-data-item"><md-checkbox ng-model="data.cb5" aria-label="Checkbox 1">Cash & carry</md-checkbox></li>
       <li class="list-data-item"><md-checkbox ng-model="data.cb6" aria-label="Checkbox 1">Mid night snacks</md-checkbox></li>
     </ul>
     </div>

      <div class= "Requirements-data" ng-if="false">
        <div class="row">
             <div class="col-sm-12">
                 <div class="col-sm-3">
                  <div class="wrapper"></br>
                    <div class="col-sm-12" ng-repeat="m in Data" >
                       <table  class="table" id="client"  >
                          <tr><td><b class="fa fa-calendar">{{m.img}}</td></tr>
                          <tr><th>{{m.data}}</th></tr>
                          <tr ng-repeat="m in Days"><td>{{m}}</td> </tr>

                       </table></br>
                    </div>
                 </div>
             </div>
            <!--  <div class="col-sm-6" > -->
                  <div class="col-sm-9"> 
                    
                     <div class="col-sm-4" ng-repeat="m in Menu" ></br>
                            <div class="">                     
                           <table  class="table" id="client" >
                            <tr><td><b class="fa fa-cutlery"></b></td>
                                <td>{{m.menu}}</td></tr>                          
                            <tr >
                                <th><b class="fa fa-user-circle-o">{{m. Person1}}</b></th>
                                <th><b class="fa fa-rupee">{{m.Price1}}</b></th>
                            </tr>                   
                                <tr ng-repeat="m in Customers">
                                    <td>{{m. Person}}</td>
                                    <td>{{m.Price}}</td>
                                </tr>
                             </table>
                         </div>
                     </div>
                  </div>
             </div>
        </div>
     </div>
     <div   >
            <div id="feedback" ng-if="true">      
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Overall Rating</th>
                    <th>Presentation Rating</th>
                    <th>Quality Rating</th>
                    <th>Quantity Rating</th>
                    <th>Taste Rating</th>
                    <th>Contact</th>
                    <th>Comment</th>
                    <th>Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="f in Feedback">
                    <td>{{f.feedback}}</td>
                    <td>{{f.overAllRating}}</td>
                    <td>{{f.presentationRating}}</td>
                    <td>{{f.qualityRating}}</td>
                    <td>{{f.quantityRating}}</td>
                    <td>{{f.tasteRating}}</td>
                    <td>{{f.mobile}}</td>
                    <td>
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                          </ul>
                      </div>

                    </td>
                    <td>{{f.date}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
   
  </section>
</div>
<script>
$(document).ready(function(){
  $(".dropdown").on("hide.bs.dropdown", function(){
    $(".btn").html('Dropdown <span class="caret"></span>');
  });
  $(".dropdown").on("show.bs.dropdown", function(){
    $(".btn").html('Dropdown <span class="caret caret-up"></span>');
  });
});
</script>
  
