
body {
    font-weight: 300;
    font-family: inherit;
    font-weight: inherit;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: inherit;
    /* word-spacing:0.2em; */
}
#font-color{color: #ce1f43;}
#top-margin-hr{margin-top: -40px;}
#font-add{font-weight: 800;}
#cmp-font{font-size: 1.0rem;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


#drag-image{width: 300px;height: 100px;}
#image{width:200px; height:100px;}
.tableFixHead    { overflow-y: auto; height: 100px; }
.tableFixHead td { position: sticky; left: 0; }
#address-card{margin-left: -17px; margin-top: -12px;height: 160px}


    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #37a4d8;
        font-weight: 600;
  transform: scale(1.0);
}


