<!--wrapper  class start for whole page-->
<div class="wrapper">

  <!-- ===============================header navbar start=============================== -->
  <nav class="navbar navbar-expand-sm navbar-dark info-color mb-5  fixed-top" >
   <a class=" navbar-brand waves-effect waves-block waves-light chat-collapse text-center" href="" id="sidebarCollapse">

    <div class="media">
      <i class="fa fa-th-list mt-1"></i>



      <div class="media-body">
        <span class="text-danger h4 font-weight-bold text-center ml-3 mb-3"> Fancymonk</span>
      </div>
    </div>
  </a>
      <!--=============================sidebar collapse============================-->


  <button class="navbar-toggler" type="button"aria-expanded="false" aria-label="Toggle navigation">
    </button>
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle bg-info" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Profile</a>
          <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><i class="far fa-user-circle mr-3"></i>My account</a>
            <a class="dropdown-item" href="#"><i class="far fa-question-circle mr-3"></i>Log out</a>
          </div>
        </li>
      </ul>

  </nav>


<!--===================sidenavbar start=========================-->


<nav id="sidebar" class="z-depth-1-half mt-5 position-fixed h-100">
  <ul class="list-unstyled components mt-5">
    <li class="p-2">
      <a class="text-dark d-block text-decoration-none" ng-click="boolFunction('configurationBool')" href=""  ><i class="fas fa-building fa-fw  "></i> <span class="font-weight-normal">Configuration</span></a>

    </li>
    <li class="p-2">
      <a class="text-dark d-block text-decoration-none" href=""  data-toggle="collapse"  aria-expanded="false" data-target="#pageSubmenu"><i class="far fa-check-square fa-fw "></i> <span class="font-weight-normal "> Requirement</span><i class="fas fa-chevron-down ml-5"></i></a>
      <ul  class="collapse list-unstyled" id="pageSubmenu">
        <li class="p-1">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('clientRequirementBool')"><i class="fas fa-fire mr-2"></i>
            <span class="font-weight-normal">Client Requirement</span></a>
          </li>

          <li class="p-1">
            <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('vendorRequirementBool')"><i
              class="fas fa-ethernet mr-2"></i><span class="font-weight-normal">Vendor Requirement</span></a>
            </li>

          </ul>
        </li>
        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('itemCheckBool')"><i class="far fa-calendar-times fa-fw "></i><span class=" font-weight-normal">Item Check List</span>
          </a>

        </li>
        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href=""  ng-click="boolFunction('assignedBool')"><i class="fas fa-users fa-fw "></i><span class="font-weight-normal"> Assigned</span></a>
        </li>
        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('empFeedbackBool')"><i class="fas fa-user-slash fa-fw "></i><span class=" font-weight-normal">Employee Feedback</span></a>
        </li>

        <li class="p-2">
         <a class="text-dark d-block text-decoration-none" href=""  data-toggle="collapse" aria-expanded="false" data-target="#pageSubmenu1"><i class="fas fa-cart-plus fa-fw "></i><span class="font-weight-normal "> Monthly Details</span><i class="fas fa-chevron-down ml-5"></i></a>
         <ul  class="collapse list-unstyled" id="pageSubmenu1">
          <li class="p-2">
            <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('clientMonthlyDetailsBool')"><i class="fas fa-radiation-alt mr-2"></i><span class="font-weight-normal">Client Monthly Details</span></a>
          </li>

          <li class="p-2">
            <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('vendorMonthlyDetailsBool')" ><i class="fas fa-holly-berry mr-2"></i>
              <span class="font-weight-normal">Vendor Monthly Details</span></a>
            </li>
          </ul>
        </li>
        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('invoiceBool')"><i class="fas fa-file-invoice-dollar fa-fw "></i><span class=" font-weight-normal"> Invoice</span>
          </a>
        </li>

        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('dispatchDetailsBool')"><i class="fas fa-check-double fa-fw "></i><span class=" font-weight-normal"> Dispatch Details</span></a>
        </li>
        <li class="p-2">
          <a class="text-dark d-block text-decoration-none" href="" ng-click="boolFunction('companySettingsBool')"><i class="fas fa-user-check fa-fw "></i><span class=" font-weight-normal">Company Settings</span></a>
        </li>
      </ul>
    </nav>


  <!--============================main content stat=====================================-->
  <!-- Page Content  -->
  <div id="content" class="mt-5">


    <!--=============configuration start====================-->

    <div ng-if="configurationBool">

      <nav class="navbar navbar-expand-lg">
        <h6><small>
          <a href="#!/dashboard" class="disabled">
            <i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
          <a href="#!/dashboard" class="w-clr">
          Home</a> 
          <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> 
          <a class="w-clr">/</a>
          <a href="" class="w-clr">category</a></small></h6>
        </nav>
        <div class="container">

        <!--=============Category start====================-->
        <h4 class="font-weight-bold  text-white form-control-sm cyan accent-4 ml-3 mt-5"><i class="fas fa-hot-tub ml-3 text-white mr-2"></i>
          Category</h4>
        <form class="border  z-depth-1  mb-5 ml-3" id="form-lenght">
          <div class="list-group custom-control custom-checkbox ">
            <div class="list-group-item" ng-repeat="category in categories">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="input{{$index + 1}}" ng-model="data[category.dbName]">
                <label class="custom-control-label" for="input{{$index + 1}}">{{category.displayName}}</label>
              </div>
            </div>

        </div>
        <button type="button" class="btn btn btn-outline-default waves-effect m-auto  d-block mb-5 font-weight-normal" submit-required="true" ng-click="category(data);" id="btn-margin">Save</button>
      </form>

    
        <!--===========================working days==================================-->
        <h4 class="font-weight-bold text-white form-control-sm  cyan accent-4 ml-3">
          <i class="far fa-calendar-alt ml-3 text-white mr-2"></i> Working Days</h4>
        <form class="border  z-depth-1 mb-5 ml-3 font-weight-normal font-small ">
          <label class="checkbox-inline mr-3 ml-3  " id="label-margin-padding" ng-repeat="week in workingDays">
            <input type="checkbox" ng-model="week.selected"> {{week.day}}</label>


          <span class="font-weight-normal">
            <input type="checkbox" ng-click="selectAll()">Select all</span><br>

          <button type="button" class="btn btn-outline-default waves-effect m-auto font-weight-normal d-block" id="btn-margin"
            submit-required="true" ng-if="workingDaysDbRowId == null" ng-click="saveCompanyWorkingDays()">Save</button>
          <button type="button" class="btn btn-outline-default waves-effect m-auto font-weight-normal d-block" id="btn-margin"
            submit-required="true" ng-if="workingDaysDbRowId != null" ng-click="updateCompanyWorkingDays()">Update</button>
        </form>

        <!--===========================Invoice date==================================-->
        <h4 class="font-weight-bold text-white  form-control-sm  cyan accent-4 ml-3 "><i class="fas fa-file-invoice-dollar ml-3 text-white mr-2"></i>
          Invoicing Date</h4>
        <div class=" border ml-3 mb-5 z-depth-1 font-weight-normal font-small">
          <form class=" form-inline">
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="FirstMonth" ng-model="invoicingDate.firstOfNextMonth">
                <label class="custom-control-label mr-5 ml-3 font-weight-normal" for="FirstMonth">1st of Next Month</label>
              </div>
            </div>

            <div class="form-group ml-3 mr-5 ">

              <span class="font-weight-normal">Mid of Month:</span>
              <select class="form-control mr-5" id="sel1" ng-model="invoicingDate.midOfMonth">
                <option class="font-weight-normal font-small">Select Date</option>
                <option ng-repeat="q in Mid_of_date">{{q}}</option>
              </select>
            </div>
            <div class="form-group ml-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="EndMonth" ng-model="invoicingDate.monthEnd">
                <label class="custom-control-label font-weight-normal ml-3" for="EndMonth">End of Month</label>

              </div>
            </div>
          </form>
          <button type="button" class="btn btn-outline-default waves-effect m-auto d-block" id="btn-margin"
            submit-required="true" ng-click="saveCompanyInvoicingDate(invoicingDate)" ng-if="invoicingDateDbRowId == null">Save</button>
          <button type="button" class="btn btn-outline-default waves-effect m-auto d-block" id="btn-margin"
            submit-required="true" ng-click="updateCompanyInvoicingDate(invoicingDate)" ng-if="invoicingDateDbRowId != null">Update</button>
        </div>




        <!--===========================Additional Requiment==================================-->


        <h4 class="text-white font-weight-bold ">
          <div class="custom-control form-control-sm cyan accent-4 custom-checkbox ml-3 ">
            <input type="checkbox" class="custom-control-input ml-3" id="AdditionalRequirements" ng-model="companyAdditionalRequirementBoolean">
            <label class="custom-control-label cyan text-white mr-5 ml-3" for="AdditionalRequirements">Additional Requirements</label>

          </div>
        </h4>

        <div class=" ml-3 " id="form-lenght" ng-if="companyAdditionalRequirementBoolean">
          <div ng-repeat="category in categories" ng-if="data[category.dbName]">
            <div class="custom-control ml-3 z-depth-1  grey lighten-4 mb-3 h-80">
              <input type="checkbox" ng-model="additionalReqDetails[category.dbName].additionalReqToggle">
              <label class="checkbox-inline font-weight-normal grey lighten-4">{{category.displayName}}</label>
            </div>
            <div ng-if="additionalReqDetails[category.dbName].additionalReqToggle">
              <div class="mt-3 ml-3">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel-body" id="row-width">
                      <form class="z-depth-1 mb-5">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Column Name</th>
                              <th>Pax</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="menuDetail in additionalReqDetails[category.dbName].arrVal">
                              <td>
                                <input type="text" id="number" class="form-control" ng-disabled="menuDetail.disabled"
                                  ng-model="menuDetail.columnName" required /></td>
                              <td>
                                <a class="addnewRow pull-right ml-5 text-success z-depth-1" id="btn-bg" 
                                ng-click="addNewRow(additionalReqDetails[category.dbName].arrVal)">
                                  <i class="far fa-plus-square fa-2x"></i>
                                </a>
                                <a ng-hide="(!menuDetails.length > 1)" class="z-depth-1 text-danger pull-right ml-5"
                                  ng-if="!menuDetail.disabled" ng-click="remove(additionalReqDetails[category.dbName].arrVal,$index)">
                                  <i class="fas fa-trash-alt fa-2x"></i>
                                </a>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-outline-default waves-effect m-auto  d-block" id="btn-margin"
                          submit-required="true" ng-if="additionalReqDetails[category.dbName].additionaRequirementDbRowId == null"
                          ng-click="saveAdditionalRequirements(additionalReqDetails[category.dbName], category.dbName)">Save</button>

                        <button type="button" class="btn btn-outline-default waves-effect m-auto  d-block" id="btn-margin"
                          submit-required="true" ng-if="additionalReqDetails[category.dbName].additionaRequirementDbRowId != null"
                          ng-click="saveAdditionalRequirements(additionalReqDetails[category.dbName], category.dbName)">Update</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- ==============================================Client RequirementBool start================ -->
    <div ng-if="clientRequirementBool">

      <nav class="navbar navbar-expand-lg  mb-5 " id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a><a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a class="w-clr">/</a>
            <a href="" class="w-clr">client requirement</a></small></h6>
      </nav>
      <div class="container">
        <div class="table-responsive-sm table-responsive-md table-responsive-lg" ng-repeat="category in categories"
          ng-if="data[category.dbName]">
          <h6 class="custom-control font-weight-bold text-white cyan accent-4 custom-checkbox ml-3">{{category.displayName}}</h6>
          <table class="table table-bordered w-auto ml-3 ">
            <thead>
              <tr>
                <th class="font-weight-bold" scope="col">Day</th>
                <th class="font-weight-bold" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">{{m.columnName}}
                  Pax</th>
                <th class="font-weight-bold" ng-repeat-end> {{m.columnName}} Price</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="week in workingDays" ng-if="week.selected">
                <th class="text-center font-weight-normal ">{{week.day}}</th>
                <td class="text-center font-weight-normal" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">
                  <input type="number" class="form-control form-control-sm" id="" 
                  ng-model="clientRequirement[category.dbName][week.day][m.columnName].pax">
                </td>
                <td class="text-center font-weight-normal" ng-repeat-end>
                  <input type="number" class="form-control form-control-sm" id="" 
                  ng-model="clientRequirement[category.dbName][week.day][m.columnName].price">
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-outline-default waves-effect btn-sm px-2"
           ng-click="saveCompanyRequirements(clientRequirement[category.dbName],category.dbName)"
           ng-if="clientRequirement[category.dbName].companyRequirementDbRowId == null">Save</button>
           <button type="button" class="btn btn-outline-default waves-effect btn-sm px-2"
           ng-click="saveCompanyRequirements(clientRequirement[category.dbName],category.dbName)"
           ng-if="clientRequirement[category.dbName].companyRequirementDbRowId != null">Update</button>
        </div>
      </div>
    </div>


    <!-- ==============================================Vendor RequirementBool start================ -->
    <div ng-if="vendorRequirementBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr">/</a>
            <a href="" class="w-clr">vendor requirement</a></small></h6>
      </nav>
      <div class="container">
        <div class="table-responsive-sm table-responsive-md table-responsive-lg" ng-repeat="category in categories"
          ng-if="data[category.dbName]">
          <h6 class="custom-control font-weight-bold text-white cyan accent-4 custom-checkbox ml-3">{{category.displayName}}</h6>
          <table class="table table-bordered w-auto ml-3">
            <thead>
              <tr>
                <th class="font-weight-bold" scope="col">Day</th>
                <th class="font-weight-bold" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">{{m.columnName}}
                  Pax</th>
                <th class="font-weight-bold" > {{m.columnName}} Price</th>
                <th class="font-weight-bold" scope="col" ng-repeat-end>% To Vendor</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="week in workingDays" ng-if="week.selected">
                <th class="text-center font-weight-normal ">{{week.day}}</th>
                <td class="text-center font-weight-normal" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">
                  <input type="number" class="form-control form-control-sm" ng-model="vendorRequirement[category.dbName][week.day][m.columnName].pax">
                </td>
                <td class="text-center font-weight-normal" >
                  <input type="number" class="form-control form-control-sm" ng-model="vendorRequirement[category.dbName][week.day][m.columnName].price">
                </td>

                <td class="text-center font-weight-normal" ng-repeat-end>
                  <input type="number" class="form-control form-control-sm" ng-model="vendorRequirement[category.dbName][week.day][m.columnName].pctToVendor">
                </td>
              </tr>

            </tbody>
          </table>
          <button type="button" class="btn btn-outline-default waves-effect btn-sm px-2" 
          ng-click="saveVendorRequirements(vendorRequirement[category.dbName], category.dbName)" 
          ng-if="vendorRequirement[category.dbName].companyVendorRequirementDbRowId == null">Save</button>

          <button type="button" class="btn btn-outline-default waves-effect btn-sm px-2" 
          ng-click="vendorSaveReq()"
          ng-if="vendorRequirement[category.dbName].companyVendorRequirementDbRowId != null">Update</button>

        </div>
      </div>
    </div>


    <!-- ==============================================Item Check start================ -->
    <div ng-if="itemCheckBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr">/</a>
            <a href="" class="w-clr">item checklist</a></small></h6>
      </nav>
      <div class="container posiborder">
        <h4 class="text-center font-weight-normal text-white border cyan accent-4 display-18 ">Enter the Requirements
          Stuff</h4>
        <ul class="list-inline">
          <li class="list-inline-item ml-3" ng-repeat="item in itemCheckList">
            <label for="number" class="font-weight-normal" ng-click="toggle(item, itemCheckList)">
              {{ item.itemName }}</label>
            <input type="number" class="form-control mb-2 mr-sm-2" id="number">
          </li>
        </ul>
        <button type="button" class="btn btn btn-outline-default waves-effect m-auto btn-lg d-block mb-5">Save</button>
      </div>


    </div>

    <!-- ==============================================Assigned start================ -->

    <div ng-if="assignedBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
          <a href="#!/dashboard" class="w-clr">
          Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
          class="w-clr">/</a>
          <a href="" class="w-clr">assigned</a></small></h6>
        </nav>
        <div class="container">
          <div class="row ml-3  mr-0" id="menu-top">
            <div ng-repeat="assign in categories">
              <div class=" col-xl-3 col-md-6  w-50">
                <div class="card bg-info mt-5 h-50 btn-outline-info waves-effect hoverable " id="col-width">
                  <div class="card-body ">
                    <div class="media text-info ">
                      <a class="d-flex mr-3"><i class="fas fa-glass-cheers fa-2x"></i></a>
                      <div class="ml-2" data-toggle="modal" data-target="#fullHeightModalRight">
                        <h6 class="mt-0 font-weight">{{assign.displayName}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="modal hide fade in" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true" data-backdrop="static" data-keyboard="false">


                  <div class="modal-dialog" role="document">


                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-300" id="myModalLabel">Vendor Assign For {{assign.displayName}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="list-group">
                          <div class="active-cyan-4 mb-4 mr-auto">
                            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                          </div>
                          <a href="#" class="list-group-item list-group-item-action" ng-repeat="vendor in allVendorsList | filter:vendorSearch">{{vendor.name}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- ==============================================EmpFeedback start================ -->
    <div ng-if="empFeedbackBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
          <a href="#!/dashboard" class="w-clr">
          Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
          class="w-clr">/</a>
          <a href="" class="w-clr">employee feedback</a></small></h6>
        </nav>


  <div class="container">
  <div  class="navbar navbar-light light-blue lighten-4 ml-3">
   <button class="navbar-light" ng-click="exportToExcel('#feedback')">Download xsl file <i class="fas fa-download ml-1"></i></button> 
<!--  <a href="" data-toggle="tooltip" title="Default tooltip">you probably</a> -->
    <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" ng-model="search">
          </form>
          
  </div>
  <table class="table border table-hover table-sm ml-3" id="feedback">
  <thead>
   <tr>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Name</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Overall Rating</th> 
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Presentation Rating</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Quality Rating</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Quantity Rating</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Taste Rating</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Contact</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Comment</th>
    <th class="text-center font-weight-bold pt-0 pb-3" id="header">Date & Time</th>

  </tr>
</thead>
<tbody>
 <tr ng-repeat="feed in feedback.slice().reverse() | filter:search | orderBy:sortType:sortReverse ">
  <td class="text-center font-weight-normal">{{feed.reviewerName}}</td>
  <td class="text-center font-weight-normal">{{feed.overAllRating}}</td>
  <td class="text-center font-weight-normal">{{feed.presentationRating}}</td>
  <td class="text-center font-weight-normal">{{feed.qualityRating}}</td>
  <td class="text-center font-weight-normal">{{feed.quantityRating}}</td>
  <td class="text-center font-weight-normal">{{feed.tasteRating}}</td>
  <td class="text-center font-weight-normal">{{feed.mobile}}</td>
  <td>
   <div ng-if="feed.comment.length > 1"><span class="badge badge-danger" >1</span>
    <mdb-tooltip :options="{placement: 'top'}">
    <div data-toggle="tooltip" >
     {{feed.commen}}
   </div>
   <mdb-btn slot="reference" color="primary">
 </mdb-btn>
</mdb-tooltip>

</div>
<mdb-btn slot="reference" color="primary">
<i class="far fa-comments fa-2x" ></i>
</mdb-btn>
</td>
<td class="text-center font-weight-normal" id="header">{{feed.createdAt}}</td>
</tr>
</tbody>
</table>
</div>
</div>



 
                      


    <!-- ==========================================ClientMonthly Details start================ -->
    <div ng-if="clientMonthlyDetailsBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr">/</a>
            <a href="" class="w-clr">clientMonthly details</a></small>
          </h6>
      </nav>

      <button type="button" class="btn btn-outline-info m-auto d-block" ng-click="exportToExcel('#clientMonthlyDetailsSave')">XLS</button>
<div class="container">
<div class=" grey lighten-4  ml-5">  
 <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
  <li class="nav-item"ng-repeat="category in categories" ng-if="data[category.dbName]">
    <a class="nav-link gradient-shadow" id="pills-home-tab" data-toggle="pill" href="" data-target="#{{category.displayName}}" role="tab"aria-controls="pills-brkfst" aria-selected="true">{{category.displayName}}</a>
    </li>
  </ul>
</div>
 <div class="tab-content pt-2 pl-1 ml-5" id="{{category.displayName}}">
  <div class="tab-pane fade show active " id="pills-brkfst" role="tabpanel" aria-labelledby="pills-home-tab">
   <div class="table-responsive">
  <table class="table table-bordered w-auto ml-3 ">
            <thead>
              <tr>
                <th class="font-weight-bold" scope="col">Date</th>
                <th class="font-weight-bold" scope="col">Day</th>
                <th class="font-weight-bold" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">{{m.columnName}}
                  Pax</th>
                <th class="font-weight-bold" ng-repeat-end> {{m.columnName}} Price</th>
                <th class="font-weight-bold" scope="col">{{category.displayName}} Amount</th>
                <th class="font-weight-bold" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dnd in monthlyDateNDays">
                <th class="text-center font-weight-normal">{{dnd.date}}</th>
                <th class="text-center font-weight-normal">{{dnd.day}}</th>
                <td class="text-center font-weight-normal" ng-repeat-start="m in additionalReqDetails[category.dbName].arrVal">
                  <input id="" ng-model="clientRequirement[category.dbName][dnd.day][m.columnName].pax" ng-init=0>
                </td>
                <td class="text-center font-weight-normal" ng-repeat-end>
                  <input id="" ng-model="clientRequirement[category.dbName][dnd.day][m.columnName].price">
                </td>
                <td class="text-center font-weight-normal">
                  <input id="" ng-model="clientRequirement[category.dbName][dnd.day].amount">
                </td>
                <td><button type="button" class="btn btn-outline-default waves-effect btn-sm px-2" ng-click="clientMonthlyDetailsSave()">Save</button></td>
              </tr>

            </tbody>
          </table>
  </div>   
    </div>
 

    </div> 
  </div>
</div>


    <!-- ========================================Vendor Monthly Details start================ -->

    <div ng-if="vendorMonthlyDetailsBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr"></a>
            <a href="" class="w-clr">vendorMonthly details</a></small></h6>
      </nav>
      <div class="container position-fixed ml-3">
        <div class="table-responsive ml-5">
          <table id="dtBasicExample" class="table table-bordered table-sm mr-3" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="font-weight-normal text-center">DATE</th>
                <th class="font-weight-normal text-center">DAY</th>
                <th class="font-weight-normal text-center">PAX</th>
                <th class="font-weight-normal text-center">PRICE</th>
                <th class="font-weight-normal text-center">AMOUNT</th>
                <th class="font-weight-normal text-center">Name</th>
                <th class="font-weight-normal text-center">Age</th>
                <th class="font-weight-normal text-center">contact</th>
                <th class="font-weight-normal text-center">Address</th>
                <th class="font-weight-normal text-center">Name</th>
                <th class="font-weight-normal text-center">Age</th>
                <th class="font-weight-normal text-center">contact</th>
                <th class="font-weight-normal text-center">Address</th>
                <th class="font-weight-normal text-center">Name</th>
                <th class="font-weight-normal text-center">Age</th>
                <th class="font-weight-normal text-center">contact</th>
                <th class="font-weight-normal text-center">Address</th>
                <th class="font-weight-normal text-center">Name</th>
                <th class="font-weight-normal text-center">Age</th>
                <th class="font-weight-normal text-center">contact</th>
                <th class="font-weight-normal text-center">Address</th>
                <th class="font-weight-normal text-center"></th>



              </tr>
            </thead>
            <tbody ng-repeat="V in vendorMnthyDts">
              <tr class="justify-content-center">
                <td class="text-center w-15">{{V.Date}}</td>
                <td class="text-center">{{V.Day}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Amount}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Amount}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Amount}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Amount}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Amount}}</td>
                <td class="text-center">{{V.Pax}}</td>
                <td class="text-center">{{V.Price}}</td>
                <td class="text-center">{{V.Price}}</td>

                <td class="text-center">
                  <button type="button" class="btn btn btn-outline-default btn-responsive waves-effect m-auto btn-sm px-3 d-block font-weight-normal"
                    submit-required="true" id="btn-margin">Save</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!----------===============================invoice=================================-->
    <div ng-if="invoiceBool">
      <nav class="navbar navbar-expand-lg  mb-3 mt-1" id="head-height">
        <h6><a class="navbar-brand w-clr disabled" href=""><i class="fa fa-home w-clr mr-1 ml-3" aria-hidden="true"></i><small>invoice</small></a></h6>
        <form class="form-inline  ml-auto">
          <input class="form-control" ng-model="search" type="text" placeholder="Search" aria-label="Search" id="search-height">
        </form>
      </nav>

      <button class="ml-5" ng-click="exportToPdf('#invoice')">PDF</button>

      <div class="container" id="invoice">
        <nav class="navbar   red darken-3 ml-3 mt-5">
        </nav>
        <div class="row ml-3">
          <div class="col-md-6 col-sm-12 ml-3">
            <div class="media">
              <img src="img/comp_logo.jpg" class="img-responsive borderless mt-2 d-flex align-self-center" width="65px">
              <span class="h5 font-weight-bold ml-3 font-weight-normal font-size pull-right mt-5 mb-0">FANCYMONK TECHNOLOGIES
                PVT. LTD.</span>
            </div>
          </div>
        </div>
        <div class="row mt-5 ml-3">
          <div class="col-md-5 ml-3 ">
            <p class="h6 font-weight-normal font-size">#1722,First Floor, 19th Main Rd,<br>
              Sector 2, HSR Layout,<br>
              Bengaluru, Karnataka 560102<br>
              PHONE: 9739684336<br>
              GSTIN: 29AACCF9318B1ZQ<br>
              STATE: KARNATAKA<br>
              CODE – KA 29<br></p>
          
             <p class="font-size font-weight-bold">SAC Code:<span><input type="text" class="border-0 ml-1 font-size" value="996333"></span></p>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <form class="form-inline border-0" role="form">
              <div class="form-group h6 font-weight-normal">
                <label for="date" class="font-size">Date:</label>
                <input type="date" class="form-control border-0" id="date">
              </div>
            </form>
          </div>
        </div>

        <div class="row ml-3 mt-5">

          <div class="col-md-4 ml-3">
            <h5 class="font-weight-bold font-size">Invoice for</h5>
            <div class="card border-0 w-100" id="address-card">
              <div class="card-body">
                <small class="card-title font-size h5">{{cmpyName | uppercase}}</small>
                <p class="h6 card-text font-weight-bold font-size text-dark">{{cmpyAddress | lowercase}}</p>
                <p class="font-size">GSTIN:<span><input type="text" class="border-0 ml-1 font-size" value="29AAACZ8319C1Z7"></span></p>

              </div>

            </div>

          </div>


          <div class="col-md-5">
            <h5 class="font-weight-bold font-size">Payable to</h5>
            <small class="h6 mt-3 font-size">FANCYMONK TECHNOLOGIES PVT. LTD.</small>
          </div>
          <div class="col-md-2">
            <h5 class="font-weight-bold font-size">Invoice #</h5>
            <form>
              <div class="form-group font-size">
                <input type="text" class="form-control border-0 font-size" value="515">
              </div>
            </form>
          </div>
        </div>
        <hr class="ml-5 bg-dark">
        <div class="table-responsive-sm ml-3">
          <table class="table table-borderless ml-3">
            <thead>
              <tr>
                <th class="h6 pink-text font-weight-bold font-size">Description</th>
                <th class="h6 pink-text font-weight-bold font-size">Qty</th>
                <th class="h6 pink-text font-weight-bold font-size">Unit price</th>
                <th class="h6 pink-text  font-weight-bold font-size">Total price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-dark font-weight-bold">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control border-0 p-0 font-size" value="Veg Lunch">
                    </div>
                  </form>
                </td>

                <td class="text-dark font-weight-bold">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control border-0 p-0 font-size" value="263">
                    </div>
                  </form>
                </td>

                <td class="text-dark font-weight-bold">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control border-0 p-0 font-size" value="INR95.00">
                    </div>
                  </form>
                </td>

                <td class="text-dark font-weight-bold">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control border-0 p-0 font-size" value="INR24,985.00">
                    </div>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr class="ml-5 bg-dark">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <table class="table table-borderless ml-3">
              <tbody>
                <tr>
                  <td class="center right pink-text font-size font-weight-bold h6">Subtotal</td>
                </tr>
                <tr>
                  <td class="center right pink-text font-size font-weight-bold h6">CGST (9%)</td>
                </tr>
                <tr>
                  <td class="center right pink-text font-size font-weight-bold h6">SGST (9%)</td>
                </tr>
                <tr>
                  <td class="center right pink-text font-size font-weight-bold h6">Total</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3 ">
            <table class="table table-borderless ml-3">
              <tbody>
                <tr>
                  <td class="right font-size font-weight-bold">INR33,585.00</td>
                </tr>
                <tr>
                  <td class="right font-size font-weight-bold text-muted">INR3,585.00</td>
                </tr>
                <tr>
                  <td class="right font-size text-muted font-weight-bold">INR1,585.00</td>
                </tr>
                <tr>
                  <td class="right font-size text-muted font-weight-bold">INR35,585.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="row ml-3 mt-3">
          <div class="col-md-7 ml-3">
            <p class="h6 font-weight-normal font-size"><span class="font-weight-bold">Account Details</span><br>
              Company Name : Fancymonk Technologies Private Limited<br>
              Account Number : 0012020317<br>
              IFSC Code : KKBK0008040<br>
              Branch code : 8040<br>
              Bank Name:Kotak Mahindra Bank
            </p>
          </div>
        </div>
      </div>
    </div>



    <!-- =========================================Dispatch Details start================ -->
    <div ng-if="dispatchDetailsBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr">/</a>
            <a href="" class="w-clr">dispatch details</a></small></h6>
      </nav>
      <div class="container">
        <div class="table-responsive container mt-5">
          <table class="table table-hover">
            <thead>
              <tr class="aqua-gradient">
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Company</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Vendor</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Day</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Menu Type</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Dispatched Time</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Reached Time</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Remark</th>
                <th scope="col" class="text-center font-weight-bold pt-0 pb-3" id="header">Status</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="today in yesterdayStatus_5">
                <td class="text-center font-weight-normal">{{today.companyName}}</td>
                <td class="text-center font-weight-normal">{{today.vendorName}}</td>
                <td class="text-center font-weight-normal">{{today.dayName}}</td>
                <td class="text-center font-weight-normal">{{today.menuType}}</td>
                <td class="text-center font-weight-normal">{{today.dispatchedTime}}</td>
                <td class="text-center font-weight-normal">{{today.reachedTime}}</td>
                <td class="text-center font-weight-normal">{{today.remarks}}</td>
                <td class="text-center font-weight-normal">{{today.status}}</td>
              </tr>

            </tbody>
          </table>
          <h3 ng-show="!yesterdayStatus_5.length" style="color:#88888c;">None of the Vendor Delivered Food !!!</h3>
        </div>
      </div>
    </div>

    <!-- ==============================================Company Settings start================ -->
    <div ng-if="companySettingsBool">
      <nav class="navbar navbar-expand-lg  mb-5 mt-1" id="head-height">
        <h6><small><a href="#!/dashboard" class="disabled"><i class="fa fa-home w-clr ml-3 mr-1" aria-hidden="true"></i></a>
            <a href="#!/dashboard" class="w-clr">
              Home</a> <a class="w-clr">/</a> <a href="#!/dashboard" class="w-clr">{{cmpyName | lowercase}}</a> <a
              class="w-clr">/</a>
            <a href="" class="w-clr">company setting </a></small></h6>
      </nav>
      <div class="container">
        <form class="border mb-5 grey lighten-5">
          <div class="row ml-3">
            <div class="col-md-5 col-sm-7 mt-3">
              <div class="formfield w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="firstname" id="person-name" required>
                <label alt="Contact Person Name" for="person-name" placeholder="Enter Contact Person Name">Contact
                  Person Name</label>
              </div>
              <div class="formfield w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="lastname" id="Contact Number" required>
                <label alt="Contact Number" for="Contact Number" placeholder="Enter Contact Number">Contact Number</label>
              </div>
              <div class="formfield w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="address" id="address" required>
                <label alt="Adresse" for="address" placeholder="Enter Your Company Address">Address</label>
              </div>

              <div class="formfield w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="GST Number" id="GST Number" required>
                <label alt="GST Number" for="GST Number" placeholder="Enter GST Number">GST Number</label>
              </div>

            </div>
            <div class="col-md-5 col-sm-4 mt-3">
              <div class="formfield w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="GST Number" id="mobileUsername" required>
                <label alt="GST Number" for="mobileUsername" placeholder="Enter GST Number">Set Mobile App Username</label>
              </div>

              <div class="formfield  w-100 position-relative border-0 m-auto p-0 float-left">
                <input type="text" name="GST Number" id="mobilePassword" required>
                <label alt="GST Number" for="mobilePassword" placeholder="Enter GST Number">Set Mobile App Password</label>
              </div>

              <img id="drag-image" ng-src="{{imageSrc}}" src="img/img_upload.png" class="btn-outline-info waves-effect zoom ml-3">
              <div class="d-flex ">
                <input type="file" class="ml-3" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
              </div>
            </div>

          </div>
        </form>
       </div>
      </div>
   </div></div>
    </div>
    </div>


<script type="text/javascript">
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });
</script>