.navbar{height: 50px;}
.sidebar{ margin-top: 50px;}
#table-margin{margin-top: 95px;}
#btn-margin{margin-top: 90px;}
#cont-margin{margin-top: 95px;}
.modal-backdrop.show{opacity: 0;}
.modal{margin-top: 35px;}