<header class="header clearfix" style="position:fixed">
  <button type="button" id="toggleMenu" class="toggle_menu">
    <i class="fa fa-bars"></i>
  </button>

  <div class="m-view">
    <h1 style="color:white;font-family: Monoton, sans-serif;">
      <span class="span-logo"><a><img src="../image/fancymonklogo.png" /></a></span>Fancymonk</h1>
  </div>

  <div class="pull-right">
    <a><i class="far fa-bell w-c"></i></a>
    <div class="dropdown notificationDropDown">
      <div class="dropdown">
        <div class="dropbtn">
          <notification-icon update-animation="grow" count="">
            <img src="../image/pp1.png" class="img-circle pp-image-header" width="40" />
          </notification-icon>
        </div>
        <div class="dropdown-content">
          <a href=""><i style="color:black;" class="fab fa-yelp"> </i> Help</a>
          <a href=""><i style="color:black;" class="fas fa-cog"> </i> Setting</a>
          <a ng-click="signOutAdmin()"><i style="color:black;" class="fas fa-sign-out-alt"> </i> Sign out</a>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="vertical_nav">
  <ul id="js-menu" class="menu">
    <li>
      <div class="background-dp">
        <div class="background-dp-color">
          <div class="media-body">
            <h5 style="margin-top: -2px; text-align: center;font-size:bold">
              <img src="../image/pp1.png" class="img-circle pp-image" width="38" /><br>
              Iron Mountain</h5>
            <h6 class="media-heading" style="color:white;text-align: center;">admin@ironmountain.com</h6>
          </div>
        </div>
      </div>
    </li><br>
    <li>
      <div class="">
        <a class="text" ng-click="enableBooleans('homeBool')"><i class="fa fa-sitemap">
          </i>
          <span class="part">Home</span></a>
      </div>
      <br>
      <div class="">
        <a class="text" ng-click="enableBooleans('weekMenuBool')"><i class="fa fa-sitemap">
          </i>
          <span class="part">Week's Menu</span></a>
      </div>

    </li>
  </ul>
</nav>

<div class="wrapper">
  <section>
    <!-- CONTENT -->
    <!-- ___________________DASHBOARD_____________________ -->
    <div class="list">
      <!-- <div class="feedback-data-item"> -->
      <div id="feedback" ng-if="homeBool">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="names">
            <tr class="align-left" ng-repeat="e in employeeComingList" >
              <td>{{e.display}}</td>
              <td>{{e.working_date}}</td>
              <td>{{e.type}}</td>
              <td>
                <md-switch ng-model="e.status" aria-label="Switch 2" ng-true-value="'Yes'" ng-false-value="'Nope'"
                class="md-warn" ng-disabled="e.disabled">
                  {{ e.status }}
                </md-switch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="weeklyMenuItme" ng-if="weekMenuBool">
      <div class="list3"><span class="fm-menu">Menu</span>
        <div ng-repeat="(key, val) in weekMenuSorted">
          <div class="employee-list1"><strong>{{key}}</strong><i type="button" ng-click="ShowHide(val)">
              <a class="fa fa-caret-down"></a></i>
              <div class="container">
            <div class=" fm_day col-sm-12 well" ng-if="val.visible" ng-repeat="(k, v) in val">
              <div><strong>{{k}}</strong>
                <br><br>
                <ul id="menu">
                  <li ng-repeat="m in v.menu">
                   {{m.dishName}}
                  </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</div>
