<div class="container mt-4">
    <div class="card card-cascade narrower mr-1 pb-0">

        <div class="view view-cascade gradient-card-header  info-color narrower py-2 mx-4 mb-1 d-flex justify-content-between align-items-center">



            <a href="" class="white-text  m-auto d-block">ADD HEADER</a>

            <div>
                <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-ng-click="editMode = true;">
                    <i class="far fa-edit mt-0"></i>
                </button>

            </div>

        </div>
    </div>

    <div class="px-4">

        <div class="table-wrapper z-depth-1-half">

            <table class="table table-borderless   mb-0 ml-5 mr-3">

                <tbody>
                    <tr role="row" class="odd tr-color-selected" data-ng-repeat="entry in appkeys" data-ng-class="{danger:!entry.active}">
                        <td>
                            <span><input type="text" class="val0 form-control w-50" ng-model="entry.name" data-ng-hide="editMode"
                                    disabled></span>
                            <input type="text" class="val0 form-control w-50" data-ng-show="editMode" data-ng-model="entry.name"
                                data-ng-required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>