<md-dialog style="width: 50%">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<!-- <h2 align="center">Your Cart</h2> -->
				<span>Your Cart</span>
				<md-button class="md-icon-button" ng-click="cancel()" style="background-color: black; color:white; position:absolute; right: 15px">
					<md-icon md-svg-src=" image/error.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div ng-repeat="(key, value) in selectedCartItems" class="md-dialog-content">
				<div class="md-close">
					  <div class="close-button pull-right">×</div>
					<span class="menuName ">&nbsp;{{value.obj.menuName}}
					</span><br>
					<p><span class="price  pull-right">₹&nbsp;&nbsp;{{value.obj.price}}</span></p><br>
					<span>{{value.count}}</span><br></div>
		<md-button class="md-raised md-primary pull-left" ng-click="addCount(value)">add count</md-button>
		 <md-button class="md-raised md-primary pull-left" ng-click="reduceCount(value)">reduce count</md-button>
				<!-- <a class="addcartbutton  md-raised md-primary pull-left" ng-if="cartItems[n.id].addedInCart" style="color:ghostwhite">
					<span class="minus bg-dark pull-left">-</span>
					<input type="number" class="count" name="qty" value="0">
					<span class="plus bg-dark pull-right">+</span>
				</a> -->
			</div>
		</md-dialog-content>

		<md-dialog-actions>
			<a class="addcartbutton md-raised md-primary" ng-click="answer('useful')" style="color:ghostwhite;"> Place Order {{totalPrice}} </a>
		</md-dialog-actions>
	</form>
</md-dialog>
<!-- <div class="item ng-scope" ng-repeat="item in menuName">
	<div class="close" ng-click="removeFromCart(item.productDto,item.quantity,true,item,quantity); fireGAEvent('Cart','click','remove_from_cart')">×</div>
</div> -->
