
<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Your Cart</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div ng-repeat="(key, value) in selectedCartItems" class="md-dialog-content">
        <span>{{value.obj.menuName}}</span><br>
				<span>{{value.obj.price}}</span><br>
				<span>{{value.count}}</span><br>
        <md-button class="md-raised md-primary" ng-click="addCount(value)">
          add count
        </md-button>
        <md-button class="md-raised md-primary" ng-click="reduceCount(value)">
          reduce count
        </md-button>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="answer('useful')">
        Place Order {{totalPrice}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
