header {
	position: relative;
	z-index: 999;
	width: 100%;
	height: 45px;
	background: #00bcd4;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 17px;

}
.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	background-color: none;
	color: white;
	padding: 0px;
	font-size: 10px;
	border: none;
	cursor: pointer;
	width: 41px;
	margin-right: 74px;
}

.pp-image-header {
	margin: 3px 5px 0px 0px;
	padding: 3px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;

	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

	z-index: 1;
	cursor: pointer;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	/*min-width: 92px;*/
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	/*border: 1px solid #cec5c5;*/
	z-index: 1;
	cursor: pointer;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
	margin: 0px -24px;
}

.dropdown:hover .dropbtn {
	background-color: transparent;
}

.material-icons {
	opacity: 0;
	color: #fff;
}

.material-icons:hover {
	cursor: pointer;
}

@media screen and (max-width:800px) {
	.material-icons {
		opacity: 1;
	}
	.slide-menu {
		left: 250;
	}
}

.container {
	font-family: "Roboto",
	sans-serif;
	font-size: 0.875rem;
	line-height: 1.42857143;
	color: #333;
}

.topnav {
	display: block;
}

.topnav ul {
	border-bottom: 1px solid #B71C1C;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ce1e42;
	max-height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1100;
}

.topnav ul li {
	float: right;
}

.topnav ul li a {
	font-size: 16px;
	display: inline-block;

	color: #f2f2f2;
	text-align: center;
	padding: 23px 20px;
	text-decoration: none;
	transition: 0.3s;
}

.span-logo {
	margin: 2px -8px;
}
.span-logo img {
	display: inline-block;
	vertical-align: top;
	height: 5px;
	min-height: 47px;
	width: 62px;
	min-width: 50px;
	float: left;
	padding: 7px 7px;
	margin-top: -3px;
}
.span-logo p {
	font-size: 16px;
	text-decoration: none;
	color: #f2f2f2;
	float: left;
	padding: 15px 0px;
}
.topnav ul li a:hover {
	background-color: #560909;
}

.topnav ul li.icon {
	display: none;
}

@media screen and (max-width:680px) {
	.topnav ul li:not(:first-child) {
		display: none;
	}
	.topnav ul li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width:680px) {
	.topnav.responsive ul {
		position: relative;
	}
	.topnav.responsive ul li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive ul li {
		float: none;
		display: inline;
	}
	.topnav.responsive ul li a {
		display: block;
		text-align: left;
	}
}
#site-bar {
	background: rgba(206, 30, 66, 0.8);
}
.dropdown-menu {

	width: 244px;
	right: 0;
}
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #336399;
	border-color: #336399;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
	color: white;
	text-decoration: none;
	background-color: #404b57;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.list-group {
	margin-bottom: 0px;
}
a.list-group-item.ng-binding {
	/*background-color: #2f3740;*/
	background-color: white;
	color: #6c7684;
	border-radius: 0px;
	border-style: none;
	padding: 15px 30px;
}

a.list-group-item-new {
	background-color: #2f3740;
	color: #6c7684;
	border-radius: 0px;
	border-style: none;
	padding: 14px 30px;
	text-decoration: none;
}

a.list-group-item.ng-binding:hover {
	/*background-color: rgb(64, 75, 87);*/
	background-color: #f2f3f5;
	/*color: white;*/
	border-radius: 0px;
	border-style: none;
	padding: 15px 30px;
}


i.fa.fa-sign-out.fa-2x {
	padding: 12px 44px;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	line-height: 1.42857143;
	color: #333;
}
.box-headetop {
	background-color: #eee !important;
}

header {
	position: relative;
	z-index: 999;
	width: 100%;
	height: 45px;
	background: #00bcd4;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 17px;
}
.md_nabvar {
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 5;
	float: left;
	margin-top: 45px;
}
.main-cont {
	margin-top: 115px;

}
.md_Cartbody{
	margin-top: 110px;
	float: left;
	
}
/*--Plus button work--*/
.count{
	text-align: center
}
.qty .count {
	color: #000;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	padding: 0 2px;
	min-width: 35px;
	text-align: center;
	
}

.qty .plus {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	color: white;
	width: 30px;
	height: 30px;
	font: 50px/1 Arial, sans-serif;
	text-align: center;
	border-radius: 50%;
}

.qty .minus {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	color: white;
	width: 30px;
	height: 30px;
	font: 50px/1 Arial, sans-serif;
	text-align: center;
	border-radius: 50%;
	background-clip: padding-box;
}

div {
	text-align: center;
}

.minus:hover {
	background-color: black !important;
}

.plus:hover {
	background-color: black !important;
}
.md-card{
	overflow-x: hidden;
}
/*Prevent text selection*/

span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	float: left;
}

input {
	border: 0;
	width: 25%;
	border-radius: 30px;
	background-color: #fe7c18;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:disabled {
	background-color: white;
}
header h1 {
	margin: 0;
	padding: 0 0px;
	height: 50px;
	line-height: 47px;
	font-weight: 400;
	font-size: 15px;
	float: left;
}

.wrapper {
	/*margin-top: 50px;*/
	padding: 15px 30px;
	transition: all 0.3s ease-out;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.md-toolbar-tools {
	background-color: #eee !important;
	color: black;
	float: left;
}
@media (min-width: 720px) {

	body {
		overflow-y: scroll;
	}

	.logo img {
		width: 200px;
		text-align: center;
		margin-top: 10px;
		float: none;
	}

	.wrapper {
		margin-left: 200px;
	}

	.wrapper__minify {
		margin-left: 50px;
	}

}
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}
body {
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: #eee !important;
	font: 18px "Montserrat", sans-serif;
	line-height: 1.8;
	color: grey;
}

.card {
	/* background-color: white; */
	margin-top: 40px;
	margin-left: 40px;

}

.underline {
	border: 1px solid gray;
	height: 0px;
	width: 100%;
	margin: 0 auto;
	margin-top: 35px;
}
.addcartbutton {
	padding: 5px;
	width: 100px;
	background-color: #df561d;
	color: wheat;
	border-radius: 20px;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
}
.addcartbutton:hover {
	background-color: firebrick;
	color: aliceblue;
	text-decoration: none;
}
.glyphicon-cart{
	float: right;
	cursor: pointer;
	/* font-size: 33px; */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

:active,
:focus {
	outline: 0
}

.toggle_menu {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	background: 0 0;
	border: 0;
	text-align: center;
	cursor: pointer;
	font-size: 24px;
}

.toggle_menu i {
	display: block;
	font-size: 28px
}

.vertical_nav {
	position: absolute;
	left: -200px;
	z-index: 2;
	top: 45px;
	bottom: 0;
	width: 200px;
	background: white;
	box-shadow: rgba(0, 0, 0, .4)-30px 0 18px 30px;
}

.vertical_nav__closed {
	left: -200px !important
}

.vertical_nav__opened {
	left: 0 !important;
	box-shadow: rgba(0, 0, 0, .4)-30px 0 30px 30px
}

/*ANGULAR MATEIAL DESIGN END*/

.btn-primary {
	margin-right: 10px;
}

/*...............MOBILE VIEW...............*/

@media only screen and (max-width: 500px) {
		
	}
/*-----Navbar-------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.nav-bar {
		width: 100%;
	}
	.nav-item {
		width: 100%;
		float: none;
	}
}
/*----------------Desing Box-----------*/
@media only screen and (max-width: 500px) {
	.design-box {
		margin-top: 160px;
	}
}
