<div class="wrapper">
    <!--==================================Navbar start================================= -->
    <ng-include src="'sections/commons/navbar.tpl.html'"></ng-include>






    <!---------=====================main content start==========================-->
    <div id="content" class="mt-3">
          <!---------===========================Favourites============================================-->

          <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-5">
                <li class="breadcrumb-item"><a href="#!/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Favourites</li>
              </ol>
            </nav>
        <div class="row ml-2">
         
            <h3 class="text-white  z-depth-2 info-color card-header">Favourites</h3>
            <div class="row mt-3 justify-content-center ">
              <div class="card col-md-3 mr-2 mt-4 z-depth-2" ng-repeat="fItem in favouritItemList">
                <div class="view">
                  <img class="card-img-top  " src="img/food1.jpg" alt="Card image cap">
                  <a ng-click="removeFavouritItem(f , $index)">
                    <div class="mask  flex-top text-right">
                      <i class="fas fa-heart fa-2x text-danger " aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
                <div class="card-block">
                  <h4 class="card-title text-left"><span class="small"> <i class="far fa-stop-circle text-success fa-xs mr-1"></i></span><span
                      class="small">{{fItem.itemName}}</span></h4>
    
                  <div class="card-text d-flex flex-row justify-content-between">
                    <div class="p-1">
                      <p><i class="fas fa-star text-warning"></i>
                        <span class="text-muted">{{fItem.rating}}</span>
                      </p>
    
    
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-4">
                <div class="z-depth-1">
                  <h4 class="d-flex justify-content-between align-items-center  card-header info-color mt-4">
                    <span class="text-white">Your cart hahah mana </span>
                    <span class="badge badge-secondary badge-pill">3</span>
                  </h4>
    
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(keyCart, valueCart) in cartItems" ng-if="keyCart != 'totalAmount'">
                      <div class="d-flex flex-row justify-content-between text-left" id="checkout-height">
                        <div class="p-2">
                          <h6 class="my-0 text-dark font-weight-normal" ng-model="checkList.checkItem">{{valueCart.obj.menuName}}
                          </h6>
                          <small class="text-muted">{{getVendorName(valueCart.obj.vendorId)}}</small>
                        </div>
                        <div class="p-3">
                          <div class="def-number-input number-input">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                          </div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <span class="font-weight-bold text-danger">Total (Rupee)</span>
                      <strong><i class="fas fa-rupee-sign"></i>100</strong>
                    </li>
                  </ul>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                </div>
              </div>
            </div>
          </div> -->
          <!---------===========================End Favourites =========================-->
    
    
    <div class="col-md-7">
      <h3 class="text-white  z-depth-2 info-color card-header">Favourites</h3>
      <div class="card col-md-3 mb-3 mr-2 mt-4 z-depth-2">
          <div class="view">
            <img class="card-img-top " src="img/food1.jpg" alt="Card image cap">
            <a ng-click="removeFavouritItem(f , $index)">
              <div class="mask  flex-top text-right">
                <i class="fas fa-heart fa-2x text-danger " aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <div class="card-block">
            <h5 class="card-title text-left"><span class="small"> <i class="far fa-stop-circle text-success fa-xs mr-1"></i></span><span
                class="small">Dhaba Egg Curry with Choice of Rice</span></h5>
                
            <div class="card-text">
              <div class="d-flex">
                  <p class="text-muted small">bahut hi acha khana h khalo</p>
              </div>
              <div class=" d-flex flex-row justify-content-between">
              <div class="p-1">
                <p><i class="fas fa-rupee-sign text-danger mr-1"></i>
                  <span class="text-muted">280</span>
                </p>
              </div>
             
                <div class="p-1">                            
                   <button type="button" class="btn btn-outline-default btn-sm ml-3 mr-1 rounded-pill" ng-click="addToCart()" ng-if="!addCart" >ADD</button>  
                   </div>
                   <div class="p-1">
                   <div class="def-number-input number-input" ng-click="addToCart()" ng-if="addCart">
                      <button class="minus"></button>
                      <input class="quantity" min="0" name="quantity" value="1" type="number">
                      <button class="plus"></button>
                    </div>
                  </div>
                  </div>
                 
                      
                          
            
          </div>
        </div>
    </div>
  </div>
    <div class="col-md-4">
        <h4 class="d-flex justify-content-between align-items-center card-header info-color">
            <span class="text-white">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{getCartItemSize()}}</span>
          </h4>
          <ul class="list-group" id="scroll-height">
            <li class="list-group-item" ng-repeat="(keyCart, valueCart) in cartObj.cartItems" ng-if="keyCart != 'totalAmount'">
              <div class="d-flex flex-row justify-content-between" id="checkout-height">
                <div class="p-2 w-50">
                  <h6 class="my-0 text-dark font-weight-normal">{{valueCart.obj.menuName}}
                  </h6>
                  <small class="text-muted">{{getVendorName(valueCart.obj.vendorId)}}</small>
                </div>
                        <div class="p-2 w-25 mr-3" ng-if="cartObj.cartItems[keyCart].addedInCart">
                            <div class="def-number-input number-input">
                                    <button class="minus text-white"ng-click="reduceCount(cartObj.cartItems[keyCart])"></button>
                                    <input class="quantity" min="0" name="quantity" value="1" type="number"ng-model="cartObj.cartItems[keyCart].count">
                                    <button class="plus text-white" ng-click="addCount(cartObj.cartItems[keyCart])"></button>
                                  </div></div>

                <div class="p-2">
                <p><i class="fas fa-rupee-sign text-danger"></i><span class="text-danger">{{cartObj.cartItems[keyCart].amount}}</span></p>
                </div>
                </div>
                
              </li>
            </ul>
          <div class="d-flex flex-row justify-content-between" id="checkout-height">
            <div class="p-2">
                <span class="font-weight-bold text-danger">Total (Rupee)</span>
            </div>
            <div class="p-2 mr-5">
                <strong><i class="fas fa-rupee-sign"></i>{{cartObj.cartItems.totalAmount}}</strong>
            </div>
            </div>
          
              
          
            <button class="btn btn-success btn-sm btn-block" type="submit" ng-click="gotoCheckout()">Continue to checkout</button>
    </div>
      </div>

 




    </div>
</div>