
	body {
	position: static;
	 overflow: auto;
	 /* font-family: "Open Sans", sans-serif; */
	 height: 200%;
     overflow-x: hidden;
     background-color: white;
     /* background-image: url("../../image/Background1.svg");*/
	}
	@media screen and (max-width:800px){
  header#site-header {
      display: none;
			background-color:white;
  }
  md-card._md{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  }
  input.req-clr {
      width: 80%;
  }
