.card {
    width: 260px;
    height: 320px;
    margin-right: 60px;
}

.card-img-top {
    width: 250px;
    margin: auto;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* ------------------side bar----------------------- */
#btn-block {
    margin-left: 340px;
}

#sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #7386D5;
    transition: all 0.3s;
    overflow: scroll;

}

#sidebar ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    opacity: 0.7 linear;
}

#sidebar ul .open>a,
#sidebar ul li.dropdown .dropdown-menu li:hover,
#sidebar ul li:hover {
    background-color: #cfd8dc;
    color: #fff;
}

li>a:hover {
    background-color: #c5ccce;

}

/* ------------------CONTENT STYLE------------------------ */
#content {
    width: calc(100% - 250px);
    /* padding: 40px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

/* ---------------MEDIAQUERIES---------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }

    .card {
        width: 240px;
        height: 320px;
    }
}

/* image css */
.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    inline-size: fit-content;
}

/*  login page css*/
.image1 {
    height: 426px;
}

@media (max-width: 400px) {
    .ctrl {
        font-size: 13px;
    }

}

@media (max-width: 357px) {
    .ctrl {
        font-size: 11px;
    }

}

@media (max-width: 321px) {
    .ctrl {
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    .loginform {
        height: 435px;
    }

}

@media (max-width: 1024px) {
    .ctrl {
        font-size: 11px;
    }
}

.loginformb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90vh;
    overflow-y: hidden;
}

/* upload image */
.file-upload-btn {
    border-bottom: 4px solid rgb(138, 163, 151);
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: rgb(119, 134, 126);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}


.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed rgb(113, 124, 118);
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: rgb(101, 116, 108);
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {

    text-transform: uppercase;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}



.collapse-accordion .card a[data-toggle=collapse] {
    display: block;
    padding: .75rem 1.25rem;
}

.collapse-accordion .card-header {
    padding: 0;
}

/* team card */

.our-team1 {
    padding: -1px 0 40px;
    text-align: center;
    overflow: hidden;
    /* position: relative;     */
}

.our-team1 .pic {
    display: inline-block;
    /* width: 143px;
    height: 72px; */
    width: 116px;
    height: 116px;
    top: 8px;
    margin-bottom: 16px;
    z-index: 1;
    /* position: relative; */
}

.our-team1 .pic:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #33b5e5;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team1:hover .pic:before {
    height: 100%;
}

.our-team1 .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #33b5e5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team1 .pic img {
    width: 100%;
    height: 116px !important;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team1:hover .pic img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);

}

.our-team1 .team-content {
    margin-bottom: 30px;
}

.our-team1 .title {
    font-size: 16px;
    font-weight: 700;
    color: #4e5052;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-team1 .post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team1 .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #33b5e5;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team1:hover .social {
    bottom: 0;
}

.our-team1 .social li {
    display: inline-block;
}

.our-team1 .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team1 .social li a:hover {
    color: #eb1768;
    background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
    .our-team1 {
        margin-bottom: 30px;
    }
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}


/* profile */
.portfolio {
    padding: 0%;
    text-align: center;
}

.bio-info {
    padding: 5%;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.name {
    font-family: 'Charmonman', cursive;
    font-weight: 600;
}

.bio-image {
    text-align: center;
}

.bio-image img {
    border-radius: 50% !important;
    height: 174px;
    width: 166px;
    ;
}

.bio-content {
    text-align: left;
}

.bio-content p {
    font-weight: 600;
    font-size: 16px;
}

.dot {
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #22659c;
}

.org-chart {
    display: flex;
    justify-content: center;
}

.org-chart ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
}

.org-chart ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
}

.org-chart li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 10px;
    transition: all 0.5s;
}

.org-chart li::before,
.org-chart li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.org-chart li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.org-chart li:only-child::after,
.org-chart li:only-child::before {
    display: none;
}

.org-chart li:only-child {
    padding-top: 0;
}

.org-chart li:first-child::before,
.org-chart li:last-child::after {
    border: 0 none;
}

.org-chart li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 5px 0 0 0;

}

.org-chart li .user {
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 20px 10px;
    transition: all 0.5s;
    background: #fff;
    min-width: 180px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.org-chart li .user:hover,
.org-chart li .user:hover+ul li .user {
    background: #b5d5ef;
    color: #002A50;
    transition: all 0.15s;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: inset 0 0 0 3px #76b1e1, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.org-chart li .user:hover img,
.org-chart li .user:hover+ul li .user img {
    box-shadow: 0 0 0 5px #4c99d8;
}

.org-chart li .user:hover+ul li::after,
.org-chart li .user:hover+ul li::before,
.org-chart li .user:hover+ul::before,
.org-chart li .user:hover+ul ul::before {
    border-color: #94a0b4;
}

.org-chart li .user>div,
.org-chart li .user>a {
    font-size: 12px;
}

.org-chart li .user img {
    margin: 0 auto;
    max-width: 60px;
    max-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #aaa;
}

.org-chart li .user .name {
    font-size: 16px;
    margin: 15px 0 0;
    font-weight: 300;
}

.org-chart li .user .role {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

.org-chart li .user .manager {
    font-size: 12px;
    color: #b21e04;
}

.tr-color-selected {
    background-color: hsla(196, 77%, 55%, 0.3) !important;
    transition: all .2s ease-in;
}

.address {
    width: 224px;
    font-size: 12px;
    margin: 1em;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#map {
    height: 300px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    border-radius: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 15px;
    background: rgb(17, 22, 17);
    cursor: pointer;
    border-radius: 8px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 15px;
    background: rgb(9, 6, 15);
    cursor: pointer;
}

/* social icon profile */
.effect {
    width: 100%;
    padding: 50px 0px 70px 0px;
    background-color: #212121;
}

.effect h2 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 3px;
}

.effect:nth-child(2) {
    margin-top: 50px;
}

.effect:nth-child(2n+1) {
    background-color: #fff;
}

.effect:nth-child(2n+1) h2 {
    color: #212121;
}

.effect .buttons {
    margin-top: -40px;
    display: flex;
    /* justify-content: center; */
}

.effect a:last-child {
    margin-right: 0px;
}

.effect a {
    text-decoration: none !important;
    color: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    margin-right: 20px;
    font-size: 22Fpx;
    overflow: hidden;
    position: relative;
}

.effect a i {
    position: relative;
    z-index: 3;
}

.effect a.fb {
    background-color: #3b5998;
}

.effect a.tw {
    background-color: #00aced;
}

.effect a.g-plus {
    background-color: #dd4b39;
}

.effect a.dribbble {
    background-color: #ea4c89;
}

.effect a.pinterest {
    background-color: #cb2027;
}

.effect a.insta {
    background-color: #bc2a8d;
}

.effect a.in {
    background-color: #007bb6;
}

.effect a.vimeo {
    background-color: #1ab7ea;
}

/* aeneas effect */
.effect.aeneas a {
    transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s, -webkit-transform 0.4s linear 0s;
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s, -webkit-transform 0.4s linear 0s;
}

.effect.aeneas a i {
    transition: -webkit-transform 0.4s linear 0s;
    transition: transform 0.4s linear 0s;
    transition: transform 0.4s linear 0s, -webkit-transform 0.4s linear 0s;
}

.effect.aeneas a:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 50%;
}

.effect.aeneas a:hover i {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

/* social icon profile end */

/* calling data */
#mytable input {
    width: 100%;
}

/* calling data end*/

/*======================My leads====================== */

div.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, .87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

div.card.card-plain {
    background: transparent;
    box-shadow: none;
}

div.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg, #eee, #bdbdbd);
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.div.card .card-body {
    padding: 15px 30px;
}

div.card .card-header-primary {
    background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
    color: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(62, 31, 236, 0.6);
}

.card-nav-tabs .card-header {
    margin-top: -30px !important;
}

.card .card-header .nav-tabs {
    padding: 0;
}

.nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: hsla(0, 0%, 100%, .2);
    transition: background-color .3s .2s;
}

.nav-tabs .nav-item .nav-link {
    border: 0 !important;
    color: #fff !important;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color .3s 0s;
}

.nav-link {
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}

/*======================My leads end====================== */

/*======================vendors ====================== */
.filter-search {
    z-index: 2;
}

.filter-form select {
    background: #fff;
    height: 38px;
    width: calc(26% - 0px);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .filter-form select {
        width: calc(19% - 20px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .filter-form select {
        width: calc(19% - 20px);
    }
}

@media only screen and (max-width: 767px) {

    .filter-form select {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*======================vendors end====================== */

/*======================All companies ellipsis ====================== */
.compadd {
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    pointer-events: none;
}

.compadd:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 1;
    pointer-events: initial;
}

.compadd:hover:after {
    cursor: pointer;
}

.compadd:hover+.tooltip {
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 1;
}

/*======================All companies ellipsis end ====================== */
.bg {
    background-image: url("/Image/Vendor.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


