/**********dropdown hover***********************************/
#avtar{width: 25px;border-radius: 1000px;background-color: aliceblue;}
.dropdown-menu {margin-left: -15px;}
#mr-top{margin-top: 8px;}
#form-mrgin{margin-top: -15px}

.rating li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;}

.rating .filled {
    color: #ffc107 }

span.line { height: 5px;left: 7%;margin-top: -13px;}
#line{height: 5px;margin-top: -13px;margin-left: 22px;}

.badge-notify{
   background:red;
   position:relative;
   top: -9px;
   left: -52px;}

#collapseExample {
  position: absolute;
  z-index: 1;}
.list-group{
    max-height: 400px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
/*******************responsive************************/
@media (max-width: 768px) {
    .navbar-brand{margin:auto; display: block;}
     #sidebar {margin-left: -250px;}
    #sidebar.active {margin-left: 0;}
    #content {width: 100%;}
}
.year{
    display: block;
    width: 80%;
    height: 50px;
    background: #c47c48;
    padding: 0 0 0 50px;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
    border-radius: 10px 10px 10px 0;
    position: absolute;
    /* top: 200px; */
    left: 20px;
}

.year1{
    width: 10%;
    height: 20px;
    background: #c47c48;
    padding: 0 0 0 50px;
    font-size: 10px;
    color : rgb(144, 212, 17);
    line-height: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
    border-radius: 10px 10px 10px 0;
    left: 20px;
}
#mdb-scrollspy-ex .nav-item {
    width: 100%;

    }
    
    /* #mdb-scrollspy-ex a {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.1rem;
    padding: 0 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    }
     */
    #mdb-scrollspy-ex li .active {
    font-weight: 600;
    font-style: italic;
    }
    
    .scrollspy-example {
    height: 200px;
    overflow : scroll;
    -webkit-overflow-scrolling: touch;
    }
