/**********dropdown hover***********************************/
#avtar{width: 25px;border-radius: 1000px;background-color: aliceblue;}
/* .dropdown-menu {margin-left: -15px;} */
#mr-top{margin-top: 8px;}
#checkout-height{height: 60px;}
#form-mrgin{margin-top: -15px}
#menu{margin-left: -70px;}
.rating li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;}

.rating .filled {
    color: #ffc107 }

span.line { height: 5px;left: 7%;margin-top: -13px;}
#line{height: 5px;margin-top: -13px;margin-left: 22px;}

.badge-notify{
   background:red;
   position:relative;
   top: -9px;
   left: -52px;}

#collapseExample {
  position: absolute;
  z-index: 1;}
#scroll-height{
    max-height: 230px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}


/*******************responsive************************/
@media (max-width: 768px) {
    .navbar-brand{margin:auto; display: block;}
     /* #sidebar {margin-left: -250px;}
    #sidebar.active {margin-left: 0;} */
    #content {width: 100%;}
}

/*********************************cart*****************************/
/* .list-group-item.active{background-color:white;} */
.sub-item.active{color:green; border-color: white;background-color: aliceblue;}