/**********dropdown hover***********************************/
#avtar{width: 25px;border-radius: 1000px;background-color: aliceblue;}
.dropdown-menu {margin-left: -108px;}
.dropdown:hover>.dropdown-menu {display: block;}
.dropdown>.dropdown-toggle:active { pointer-events: none;}
#sidebar {width: 250px;z-index: 1;transition: all 0.3s;position: fixed;}
#content {width: calc(100% - 250px);min-height: 100vh; transition: all 0.3s;
    position: absolute;
    right: 0;}
 #ml-date{margin-left: 30px;}

/*******************responsive************************/
@media (max-width: 768px) {
	.navbar-brand{margin:auto; display: block;}
	 #sidebar {margin-left: -250px;}
    #sidebar.active {margin-left: 0;}
    #content {width: 100%;}
}



