    <!---------======================================Feedback=====================================-->
    <div ng-if="feedbackBool">
      <nav aria-label="breadcrumb" btn-outline-info ">
            <ol class=" breadcrumb font-small
        font-weight-normal">
        <li class="breadcrumb-item active"> <i class="far fa-comment-alt"></i> Feedback
        </li>
        </ol>
      </nav>
      <div class="container  justify-content-center">
        <form class="z-depth-1 w-75 ml-5   py-3 px-3">
      <div class="row mt-2 justify-content-center">
        <div class="col-md-8 ">
          <select class="browser-default custom-select mt-3">
            <option selected>Choose Vendor</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        
    
          <div class="md-form md-outline pb-0 mb-0">
            <input type="text" id="inputIconEx1" class="form-control">
            <label for="inputIconEx1">Enter Employee Name</label>
          </div>
          <div class="md-form md-outline pb-0 mb-0">
            <input type="text" id="inputIconEx2" class="form-control">
            <label for="inputIconEx2">Enter Mobile Name</label>
          </div>
    
          <div class="row justify-content-center pb-0">
          <div class="col-md-4 col-sm-4 col-xs-6  pb-0">
          <h5 class="font-weight-bold mt-3">Presentation</h5>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-6  pb-0">
          <ul class=" list-unstyled rating">
            <li class="list-unstyled  fa-2x" ng-repeat="n in [].constructor(maxRating) track by $index">
              <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
              <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
            </li>
          </ul>
          </div>
        </div>
          <hr class="mt-0">
          <div class="row justify-content-center  pb-0">
          <div class="col-md-4 col-sm-4 col-xs-6  pb-0">
          <h5 class="font-weight-bold mt-3">Quality</h5>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-6  pb-0">
          <ul class=" list-unstyled rating">
            <li class="list-unstyled  fa-2x" ng-repeat="n in [].constructor(maxRating) track by $index">
              <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
              <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
            </li>
          </ul>
          </div>
        </div>
          <hr class="mt-0">
          <div class="row justify-content-center">
          <div class="col-md-4 col-sm-4 col-xs-6">
          <h5 class="font-weight-bold mt-3">Taste</h5>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-6">
          <ul class=" list-unstyled rating">
            <li class="list-unstyled  fa-2x" ng-repeat="n in [].constructor(maxRating) track by $index">
              <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
              <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
            </li>
          </ul>
          </div>
        </div>
          <hr class="mt-0">
         <div class="row justify-content-center">
          <div class="col-md-4 col-sm-4 col-xs-6">
          <h5 class="font-weight-bold mt-3">Quantity</h5>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-6">
          <ul class=" list-unstyled rating">
            <li class="list-unstyled  fa-2x" ng-repeat="n in [].constructor(maxRating) track by $index">
              <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
              <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
            </li>
          </ul>
          </div>
        </div>
          <hr class="mt-0">
          <div class="md-form md-outline">
            <textarea type="text" id="form75" class="form-control" rows="3"></textarea>
            <label for="form75">Comment</label>
          </div>
          <div class="text-center ">
            <button type="button" class="btn btn-info ">Submit</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
    <!---------======================================End Feedback=====================================-->