.number-input input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid#0099CC;
  width: 5rem;
  border-radius: .25rem;
  /* background-color: #0099CC; */
}
.number-input.number-input button {
  height: .7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}
.number-input.number-input input[type=number] {
  max-width: 2.2rem;
  font-size: 1rem;
  border: none;
  /* padding: .4rem; */
}


/* invisible scrollbar  */
.scrollbar {
  max-height: 420px;
  overflow-y: scroll;
   overflow-x: hidden;
   }
   .force-overflow {
   min-height: 150px;
   }
   
   .scrollbar-primary::-webkit-scrollbar {
   width: 5px;
   background-color: #F5F5F5; }
   
   .scrollbar-primary::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #fafafa; }
   #content{overflow: hidden;}