.title-style{
margin-bottom: -80px;
padding: 60px;
}
.home {
  width: 100%;
  height: 636px;
  margin: 0px;
  color: #424242;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 2px;
  background-image: url("../image/4a89649bb545af9469aa5a370fb74fb63.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5px);
  background-attachment: fixed;
}
.home-landing-screen {
  color: #EFEBE9;
  margin: 0px;
  text-align: center;
  /*height: 150px;*/
  min-height: 102px;
}

.home-landing-screen h1 {
  font-size: 40px;
  margin: 0;
  padding-top: 100px;
}

.home-form {
  text-align: center;
  padding: 100px;
  padding-top: 0px;
  color: #fff;

}

.home-form button {
    font-size: 16px;
    margin-top: 40px;
    color: white;
    background-color: rgba(200, 48, 40, 0);
    width: 33%;
    height: 50px;
    border-radius: 3px;
    border-color: white;
    border: 1px solid;
}
.home-form button:hover {
    /*font-size: 16px;
    margin-top: 40px;*/
    color: white;
    background-color: #f44336;
    /*width: 33%;
    height: 50px;
    border-radius: 3px;
    border-color: white;
    border: 1px solid;*/
}
/*.home-form button {
  font-size: 16px;
  margin-top: 40px;
  color: #fff;
  background-color: #CE1E42;
  border: 0px;
  width: 33%;
  height: 50px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7px);
}*/

@media only screen and (max-width: 400px){
  .home-form button{
    min-width: 70%;
  }
}

.home-form-container {
  color: #bdbdbd;
  font-size: 20px;
  /*background-color: #e0e0e0;*/
  background-color:#F44336
  margin-top: -40px;
  margin-bottom: 200px;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}

.home-form-container p {
  padding-top: 80px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
